<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Index page-home page</title>
</head>

<body>
    <form>

        <div class="header">
			<div class="article">
				<div id="article-1">
					<p id="center">Home Admin</p>
					
				</div>
				<div id="article-2">
					<p id="center"><a href="#">Shop</a></p>
				</div>s
				<div id="article-3">
					<p id="center"><a href="/accountmanagement">ManageAccount</a></p>
					
				</div>
				<div id="article-4">
					<p id="center"><a href="/productmanagement">ManageProduct</a></p>
					
				</div>
			</div>
		</div>
        <div class="section">

        </div>
        <div class="nav">
            
        </div>

    </form>

</body>

</html>